* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.container {
  height: 50vh;
  width: 50vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  margin:auto;
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  border: 10px solid #ab9595;
}

.tile {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.tile:hover {
  background-color: #dbdbdb;
}

.empty {
  background-color: #333;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#moves {
  margin-top: 10px;
  font-size: 18px;
}
